# Required user input:
# 1) Which fusion prediction tools should be executed (tools)
# 2) Which post-processing steps should be executed (fd_tools)
# 3) Which reference data shall be used (ref_trans_version & ref_genome_build)
# 4) To whom shall slurm mails be sent to (receiver)
[general]
tools=Mapsplice,Fusioncatcher,Star,Starfusion,Infusion,Soapfuse,Fetchdata,Summary
fusiontools=Mapsplice,Fusioncatcher,Starfusion,Starchip,Infusion
fd_tools=Fusiongrep,Contextseq,Starindex,StaralignFltr,BamindexFltr,RequantifyFltr,StaralignOrg,BamindexOrg,RequantifyOrg
ref_trans_version=ensembl
ref_genome_build=hg38
sender=ivac_fusion_bot@tron-mainz.de
receiver=your.email@test.com
context_seq_len=400
max_dist_proper_pair=200000
ref_genome_build=hg38
ref_trans_version=ensembl
queueing_system=slurm
time_limit=30-00:00:0

# Define ressource usage (cpu (number of threads), mem (ram in Gb)):
[resources]
qc=6,10
readfilter=15,40
star=18,40
kallisto=6,10
mapsplice=18,30
fusioncatcher=18,30
starfusion=12,30
starchip=12,30
infusion=12,30
soapfuse=8,20
pizzly=6,10
classification=1,16
fetchdata=12,64
summary=1,10

# execution command for individual programs (what you write here should be identical to what is typed in the console)
[commands]
# module loading
module_file=/path/to/build_env.sh
# for qc
fastqc_cmd=/path/to/fastqc_bin
qc_parser_cmd=/path/to/repo/misc/qc_parser.py
skewer_cmd=/path/to/skewer_bin
skewer_wrapper_cmd=/path/to/repo/tool_wrapper/skewer_wrapper.py
# for processing
readfilter_cmd=/path/to/repo/fusionreadfilter.py
samples_cmd=/path/to/repo/misc/samples.py
kallisto_cmd=/path/to/kallisto_bin
mapsplice_cmd=/path/to/mapsplice_py
fusioncatcher_cmd=/path/to/fusioncatcher_bin
pizzly_cmd=/path/to/pizzly_bin
pizzly_cmd2=/path/to/pizzly2_bin
starfusion_cmd=/path/to/starfusion_bin
starchip_cmd=/path/to/starchip_bin
infusion_cmd=/path/to/infusion_bin
soapfuse_cmd=/path/to/soapfuse_pl
soapfuse_wrapper_cmd=/path/to/repo/tool_wrapper/soapfuse_wrapper.py
# for fetchdata
fetchdata_cmd=/path/to/repo/fetchdata.py
fetch_fusiondata_cmd=/path/to/repo/fusiontoolparser.py
fetch_context_cmd=/path/to/repo/R/GetFusionSequence.R
classification_cmd=/path/to/repo/requant.py
denovoassembly_cmd=/path/to/repo/easyfuse_denovoassembly
# for prediction model
summary_cmd=/path/to/repo/summarize_data.py
model_cmd=/path/to/repo/R/R_model_prediction.R
# for processing and fetch data
star_cmd=/path/to/star_bin
samtools_cmd=/path/to/samtools_bin
trinity_cmd=
blastn_cmd=
# for liftover
crossmap_cmd=/path/to/CrossMap.py

# full path to reference files
[references]
ensembl_genome_fasta_hg38=/path/to/ensembl/reference_genome_assembly.fasta
ensembl_genome_fastadir_hg38=
ensembl_genome_sizes_hg38=
ensembl_genes_fasta_hg38=/path/to/ensembl_transcript.fasta
ensembl_genes_gtf_hg38=/path/to/ensembl_transcript.gtf
ensembl_genes_csv_hg38=/path/to/ensembl_transcript.csv

# full path to program indices
[indices]
ensembl_star_hg38_sjdb49=/path/to/star_genome_idx
ensembl_star_hg38_trans=/path/to/star_transcriptome_idx
ensembl_kallisto_hg38=/path/to/kallisto_idx
ensembl_salmon_hg38=/path/to/salmon_idx
ensembl_bowtie_hg38=/path/to/bowtie_idx
ensembl_starfusion_hg38=/path/to/starfusion_idx

# full path to program specific config files (these are just general files which need no user modification)
[otherFiles]
ensembl_starchip_param_hg38=/path/to/starchip.param
ensembl_infusion_cfg_hg38=/path/to/infusion.cfg
ensembl_soapfuse_cfg_hg38=/path/to/soapfuse_human.cfg
ensembl_soapfuse_cfg_mm10=/path/to/soapfuse_mouse.cfg
easyfuse_model=/path/to/repo/data/model/model.rds

[easyfuse_helper]
dependencies=/path/to/repo/dependency_versions_tron.txt
fasta_reformat=/path/to/repo/reformatfasta.py
gtf_reformat=/path/to/repo/reformatgtf.py

# required crossmap cmds/data in case you use the incooperated liftover capabilities
[liftover]
crossmap_chain=/path/to/GRCh38_to_GRCh37.chain.gz