# Required user input:
# 1) Which fusion prediction tools should be executed (tools)
# 2) Which post-processing steps should be executed (fd_tools)
# 3) Which reference data shall be used (ref_trans_version & ref_genome_build)
# 4) To whom shall slurm mails be sent to (receiver)

[general]
pipeline_name = EasyFuse
tools = QC,Readfilter,Fusioncatcher,Star,Starfusion,Infusion,Mapsplice,Soapfuse,Fetchdata,Summary
fusiontools = Fusioncatcher,Starfusion,Infusion,Mapsplice,Soapfuse
fd_tools = Fusiongrep,Contextseq,Starindex,ReadFilter2,ReadFilter2b,StaralignBest,BamindexBest,RequantifyBest
sender = sender@mail.com
receiver = receiver@mail.com
min_read_len_perc = 0.75
max_dist_proper_pair = 200000
cis_near_distance = 1000000
model_pred_threshold = 0.5
tsl_filter = 4,5,NA
requant_mode = best
context_seq_len = 400
neo_peptide_len = 13
ref_genome_build = hg38
ref_trans_version = ensembl
queueing_system = none
time_limit = 30-00:00:0
partition = Compute
user = username
module_dir = /path/to/EasyFuse/

# Define ressource usage (cpu (number of threads), mem (ram in Gb)):
[resources]
qc = 6,10
readfilter = 6,50
star = 6,40
mapsplice = 6,30
fusioncatcher = 6,30
starchip = 12,30
starfusion = 6,30
infusion = 6,30
soapfuse = 6,20
classification = 1,16
fetchdata = 12,50
summary = 1,16


# execution command for individual programs (what you write here should be identical to what is typed in the console)
[commands]
# for qc
fastqc = /path/to/fastqc_bin
skewer = /path/to/skewer_bin
# for processing
mapsplice = /path/to/mapsplice_py
fusioncatcher = /path/to/fusioncatcher_bin
starfusion = /path/to/STAR-Fusion_bin
infusion = /path/to/infusion_bin
soapfuse = /path/to/SOAPfuse-RUN_pl
# for processing and fetch data
star = /path/to/STAR_bin
samtools = /path/to/samtools_bin
# for liftover
crossmap = test


# full path to reference files
[references]
genome_fasta = /path/to/Homo_sapiens.GRCh38.dna.primary_assembly.fa
genome_fastadir = /path/to/fasta_dir
genome_sizes = /path/to/STAR_idx/chrNameLength.txt
genes_fasta = /path/to/Homo_sapiens.GRCh38.cdna.all.fa
genes_gtf = /path/to/Homo_sapiens.GRCh38.<release>.gtf
genes_adb = /path/to/Homo_sapiens.GRCh38.<release>.gff3.db
genes_tsl = /path/to/Homo_sapiens.GRCh38.<release>.gtf.tsl



# full path to program indices
[indices]
star = /path/to/STAR_idx/
bowtie = /path/to/bowtie_index/hg38
starfusion = /path/to/starfusion_index/
fusioncatcher = /path/to/fusioncatcher_index/


# full path to program specific config files (these are just general files which need no user modification)
[other_files]
infusion_cfg = /path/to/infusion_index/infusion.cfg
soapfuse_cfg = /path/to/soapfuse_config/config_h<release>.txt
soapfuse_cfg_mm10 = /path/to/soapfuse_config/config_m<release>.txt
easyfuse_model = /path/to/easyfuse_model.rds
