profiles {
  conda { params.enable_conda = true }
  debug { process.beforeScript = 'echo $HOSTNAME' }
  test {
    timeline.enabled = false
    report.enabled = false
    trace.enabled = false
    dag.enabled = false
  }
}

// Export this variable to prevent local Python libraries from conflicting with those in the container
env {
  PYTHONNOUSERSITE = 1
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

VERSION = '2.0.3'
ENSEMBL_VERSION = '110'


manifest {
  name = 'TRON-Bioinformatics/easy-fuse-workflow'
  author = 'Patrick Sorn, Jonas Ibn-Salem, Christoph Holsträter, David Weber, Pablo Riesgo Ferreiro'
  homePage = 'https://github.com/TRON-Bioinformatics/easyfuse'
  description = 'EasyFuse workflow'
  mainScript = 'main.nf'
  nextflowVersion = '21.10.0'
  version = VERSION
}


params.help = false
params.input_files = false
params.output = false

params.reference = false
params.fasta = "${params.reference}/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
params.star_index = "${params.reference}/star_index/"
params.starfusion_index = "${params.reference}/starfusion_index/"
params.fusioncatcher_index = "${params.reference}/fusioncatcher_index/"
params.gtf = "${params.reference}/Homo_sapiens.GRCh38.${ENSEMBL_VERSION}.gtf"
params.annotation_db = "${params.reference}/Homo_sapiens.GRCh38.${ENSEMBL_VERSION}.gff3.db"
params.reference_tsl = "${params.reference}/Homo_sapiens.GRCh38.${ENSEMBL_VERSION}.gtf.tsl"
params.model_pred = "${baseDir}/data/model/Fusion_modeling_FFPE_train_v36.random_forest.model_full_data.EF_full.rds"

// use this to avoid
params.disable_pyeasyfuse_conda = false



params.help_message = """
EasyFuse workflow v${VERSION}

Usage:
    nextflow run tron-bioinformatics/easyfuse -profile conda --input_files input_files [--reference reference.fasta]

Input:
    * input_files: the path to a tab-separated values file containing in each row the sample name, FASTQ 1 and FASTQ 2 files.
    The input file does not have header!
    Example input file:
    name1	fastq1	fastq2
    name2	fastq1	fastq2
    * reference: path to the reference index bundle

Optional input:
    *

Output:
    * Output
    """
