/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'FASTP' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'STAR_ALIGN' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'BAM2FASTQ' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'READ_FILTER' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'STAR_ARRIBA' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'STARFUSION' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'FUSIONCATCHER' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'PARSE_ARRIBA' {
        publishDir = [
            enabled: { params.debug_mode },
            path: { "${params.outdir}/fusions/arriba" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PARSE_STARFUSION' {
        publishDir = [
            enabled: { params.debug_mode },
            path: { "${params.outdir}/fusions/star_fusion" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PARSE_FUSIONCATCHER' {
        publishDir = [
            enabled: { params.debug_mode },
            path: { "${params.outdir}/fusions/fusioncatcher" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'FUSION_PARSER' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'FUSIONANNOTATER' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'FUSION_FILTER' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'BAM2FASTQ' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'FUSION2CSV' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'BPQUANT_CSV2FASTA' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'BPQUANT_INDEX' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'BPQUANT_ALIGN' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'BPQUANT_COUNT' {
        publishDir = [
            enabled: false
        ]
    }

    withName: 'MERGE_DATA' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PREDICTION' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
