/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run TRON-Bioinformatics/easyfuse -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 2,
        memory: '7.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check EasyFuse pipeline function'

    // cmdline params
    input           = "${projectDir}/assets/samplesheet.csv"
    outdir          = "results/"
    fusion_tools    = "arriba"              // fusioncatcher has huge reference index requirement, hence not run in the test/CI pipeline
    reference       = "https://raw.githubusercontent.com/TRON-Bioinformatics/test-datasets/easyfuse/ref/"
    validate_params = false                 // skip schema validation for test profile, to allow for test-specific params that don't fit the schema (e.g. reference)
}
