name: Integration tests

on: [push]

jobs:
  test:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: '3.7'
    - uses: r-lib/actions/setup-r@v2
      with:
        r-version: '4.2.0'
    - uses: r-lib/actions/setup-r-dependencies@v2
      with:
        cache-version: 2
        packages: |
          any::optparse
          any::tidyverse
          any::XML
          any::randomForest
    - name: Install dependencies
      run: |
        sudo apt-get update && sudo apt-get --assume-yes install samtools
        python -m pip install --upgrade pip
        pip install poetry
    - name: Build and install
      run: |
        poetry build
        pip install dist/easy_fuse*.whl
    - name: Run integration tests
      run: |
        make clean integration_tests
